.rl-button {
    background-image: url(https://static.realliferpg.de/img/realliferpg256x256.png) !important;
    background-size: 25px 25px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    color: rgba(0, 0, 0, 0) !important;
}